body {
    padding: 1em;
    width: 16em;
}

.title {
    display: grid;
    grid-template-areas: "icon text";
    grid-template-rows: 32px 1fr ;
    justify-items: center;
    align-items: center;
}

hr {
    width: 100%;
}

.title > .icon {
    grid-area: icon;
}

.title > .text {
    grid-area: text;
    font-weight: 900;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 1.5em;
}
  
.switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1em;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 2em;
    left: .25em;
    bottom: .25em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1em;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(2.5em);
}