body {
    padding: 1em;
}

.title {
    display: grid;
    grid-template-areas: "icon text";
    grid-template-rows: 32px 1fr ;
    justify-items: center;
    align-items: center;
}

.title > .icon {
    grid-area: icon;
}

.title > .text {
    grid-area: text;
    font-weight: 900;
}
